@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FOR PROFIL-IMAGE ALIGNNMENT CODE */



.profile-img img{
   height: 120px;
   
}

.header{
    background-color: rgb(35, 32, 32);
}

        /* ICONS EDIT */

.bi-instagram::before{
    color: #fc5c7d !important;
    font-size: 100%;
}

.bi-facebook::before{
    color: hsl(201, 100%, 36%) !important;
    background-color: whitesmoke !important;
    font-size: 100%;
}

.bi-skype::before{
    color: #6a82fb !important;
    font-size: 100%;
    background-color: whitesmoke!important;
}
.bi-twitter-x::before{
    color: black !important;
    font-size: 100%;
}

.bi-people::before, .bi-emoji-smile::before ,.bi-journal-richtext::before, .bi-headset::before{
    color: darkslategray;
}

.bi-linkedin::before{
     color: hsl(201, 100%, 36%) !important;
     font-size: 100%;
     background-color: whitesmoke !important;
}

     /* MAIN IMAGE EDIT */

#hero img{
    width: 100% !important;
    height: 970px;
}

.container h2,p{
   position: relative !important;
   top: 5px;
   left: 10px;
}

       /* .NAMEBAR EDIT */

 .container .name {
    font-size: 60px !important;
    letter-spacing: 1px !important;
    font-weight: bolder !important;
    /* text-shadow: -6px -3px 4px #000; */
}

.container p{
    font-size: 25px !important; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
}

.container .typed{
    font-family:  'fantasy' !important;
    font-size: 20px !important;
    font-weight: lighter !important;
}
   
        /* RESUME EDIT */

.container.section-title h2{
    font-size: 52px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: crimson !important;
}

.container.section-title p{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
}

     /* STAUS SECTION BCAKGROUND CHANGE */

.stats{
    background-color: lightgrey !important;
}

        /* RESUME SECTION EDIT */

.section#resume.resume.section{
  background-color: whitesmoke !important;
  /* color: brow !important; */
}

      /* SKILLS LINE BACKGROUND-COLOR CHANGE */

.skills .progress-bar{
    background: linear-gradient(to right, #fc5c7d, #6a82fb) !important;
    transition: 1.9s !important;
}

         /*  BULLET BACKGROUND-COLOR CHANGE */

.resume .resume-item::before{
    background-color: #FF5733 !important;
    border: 1px solid #fff !important;
} 

          /* RESUME UNDERLINE BACKGROUND-COLOR CHANGE */

.resume .resume-item{
    border-left: 2px solid #d35400 !important;
    margin-top: 5px !important;
}

.section-title h2:after{
   background-color: #fc5c7d !important;
    height: 4px !important;
    position: absolute !important;
    bottom: 9px;
    left: 2px;
    width: 15% !important;
}
     
          /* SCROLL TOP TO BOTTOM & BOTTOM TO TOP EDIT */

.bi-arrow-up-short::before{
    background-color: black !important;
    color: whitesmoke !important;
    font-size: 130%;
} 

.scroll-top{
    background-color: black !important;
    color: white !important;
}
 
        /* TESTIMONALS BULLET EDIT */

.testimonials .swiper-pagination .swiper-pagination-bullet{
    background-color: whitesmoke !important;
    border: 2px dotted #FF5733 !important;
}


